<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.ezonequiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Book_IntroductionActivity" android:label="@string/section1" android:theme="@style/AppTheme_Introduction"/>
        <activity android:name=".Book_ChapterOneActivity" android:label="@string/section2" android:theme="@style/AppTheme_ChapterOne"/>
        <activity android:name=".Book_ChapterTwoActivity"  android:label="@string/section3" android:theme="@style/AppTheme_ChapterTwo"/>
        <activity android:name=".Book_ChapterThreeActivity" android:label="@string/section4" android:theme="@style/AppTheme_ChapterThree"/>
        <activity android:name=".QuizActivity" android:label="@string/quiz" android:theme="@style/AppTheme_Quiz"/>
        <activity android:name=".MainActivity" android:label="@string/title" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>